*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100vh;
}
#main{
    width:100%;
    min-height: 100vh;
    background-color: rgb(23, 22, 22);
  }

  .donutanimate{
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    height: 700vh;
    background-color: rgb(27, 26, 25);
  }
  .donutBG{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  #donutframe{
    width: 100%;
    height: 100vh;
    /* background-color: brown; */
  }
  #explorebtn{
    position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
    top: 680vh;
    left: 45%;
    z-index: 1;
    width: 8vw;
    height: 2vw;
    color: #fff;
    background: rgba(24, 24, 24, 0.4);
    box-shadow: rgba(47, 46, 45, 0.3);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    font-size: 1vw;
    cursor: pointer;
    animation: pulseAnimate ease-in-out 1s infinite;
  }

  #explorebtn:hover{
    /* background: rgba(0, 0, 0, 0.539); */
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  }

  @keyframes pulseAnimate{
    0%{
      transform: scale(1);
    }
    25%{
      transform: scale(1.1);
    }
    50%{
      transform: scale(1.2);
    }
    75%{
      transform: scale(1.1);
    }
    100%{
      transform: scale(1);
    }
  }