@font-face {
  font-family: loaderBack;
  src: url(/assets/fonts/chaney-ultraextended-webfont.ttf);
}
@font-face {
  font-family: productsans;
  src: url(/assets/fonts/Product-Sans-Regular.ttf);
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body{
  width:100%;
  height:100vh;
}

#main{
  width:100%;
  min-height: 100vh;
}

.loader{
  position: absolute; /* iska mtlb yeh upar rahega*/
  width: 100%;
  height:100vh;
  background-color: rgb(255, 183, 0);
  animation: bgChange 3s;
}

.zoom{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%) rotate(-7deg);
  font-size: 13vw;
  font-family: loaderBack;
  font-weight: 400;
  -webkit-text-stroke-width: 0.09vh;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #fff;
  outline: none;

}

.loader h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-7deg);
  font-size: 5vw;
  font-family: loaderBack;
  color: #fff;
}

.loading{
  position: relative;
  left:50%;
  width:50%;
  bottom:-70%;
  height: 10px;
  background-color: #fff;
  transform: translate(-50%,-50%) rotate(-7deg);
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
}

.loading::after{
  content: "";
  position: absolute;
  bottom: 10%;
  height: 100%;
  border-radius: 5px;
  animation: load 3s;
}

@keyframes load{
  0%{
    width: 0;
    background-color: cornflowerblue;
  }
  25%{
    width: 25%;
    background-color: rgb(204, 33, 230);
  }
  50%{
    width: 50%;
    background-color: rgb(150, 30, 84);
  }
  75%{
    width: 75%;
    background-color: rgb(11, 161, 111);
  }
  100%{
    width: 100%;
    background-color: rgb(255, 183, 0);
  }
  
}


@keyframes bgChange{
  0%{
    background-color: cornflowerblue;
  }
  25%{
    background-color: rgb(204, 33, 230);
  }
  50%{
    background-color: rgb(150, 30, 84);
  }
  75%{
    background-color: rgb(11, 161, 111);
  }
  100%{
    background-color: rgb(255, 183, 0);
  }
  
}

/* donut animation css starts from here */
.donutAnimateGrp{
  position: relative;
  width: 100%;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/donut_bg_21.jpg);
  background-size: cover;
  background-position: bottom;
  opacity: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
  z-index: 99;
  overflow: hidden;
}

#dotBg{
  width: 130%;
  height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/images/b__ack.png);
  background-size: cover;
  background-position: center;
  animation: dott 8s ease-in-out alternate infinite;
}

@keyframes dott{
  from{
    margin-top: -15%;
    margin-left: -15%;
  }
}
#donut{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 10vw;
  animation: updown 2s ease-in-out alternate infinite;
  opacity: 0;
}

@keyframes updown{
from{
  margin-top:-1vw;
}
to{
  margin-top: 1vw;
}
}

@keyframes letteranimate{
  from{
    margin-top: 0vw;
  }
  to{
    margin-top: 1vw;
  }
}

#letterC{
  position: absolute;
  width: 22vw;
  top:17%;
  left:36%;
  transform: rotate(30deg);
  animation: letteranimate 1.6s ease-in-out alternate infinite;
}
#letterU{
  position: absolute;
  width: 22vw;
  top:20%;
  left:35%;
  transform: rotate(20deg);
  animation: letteranimate 1.7s ease-in-out alternate infinite;
}
#letterS{
  position: absolute;
  width: 22vw;
  top:23%;
  left:37%;
  transform: rotate(10deg);
  animation: letteranimate 1.8s ease-in-out alternate infinite;
}
#letterT{
  position: absolute;
  width: 22vw;
  top:26%;
  left:34%;
  animation: letteranimate 1.9s ease-in-out alternate infinite;
}
#letterO{
  position: absolute;
  width: 22vw;
  top:29%;
  left:35%;
  transform: rotate(-10deg);
  animation: letteranimate 1.6s ease-in-out alternate infinite;
}
#letterM{
  position: absolute;
  width: 22vw;
  top:32%;
  left:37%;
  transform: rotate(-20deg);
  animation: letteranimate 1.7s ease-in-out alternate infinite;
}


#letterC2{
  position: absolute;
  width: 22vw;
  top:17%;
  left:45%;
  transform: rotate(-30deg);
  animation: letteranimate 1.8s ease-in-out alternate infinite;
}

#letterA{
  position: absolute;
  width: 22vw;
  top:20%;
  left:47%;
  transform: rotate(-20deg);
  animation: letteranimate 1.9s ease-in-out alternate infinite;
}
#letterF{
  position: absolute;
  width: 22vw;
  top:23%;
  left:47%;
  transform: rotate(-10deg);
  animation: letteranimate 1.6s ease-in-out alternate infinite;
}
#letterF2{
  position: absolute;
  width: 22vw;
  top:26%;
  left:45%;
  animation: letteranimate 1.7s ease-in-out alternate infinite;
}
#letterE{
  position: absolute;
  width: 22vw;
  top:29%;
  left:46%;
  transform: rotate(10deg);
  animation: letteranimate 1.8s ease-in-out alternate infinite;
}

#explore{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 70%;
  width: 7vw;
  height: 2vw;
  color: #fff;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: rgba(229, 116, 45, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  font-size: 0.5vw;
  cursor: pointer;
  font-family: productsans;
}